[defaults]
bin_ansible_callbacks = True
interpreter_python = auto_silent
enable_ssh_config = True
inventory = ./ssh_inventory.py

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
