services:
  traefik:
    image: "traefik:{{ traefik_image_tag | default('v3') }}"
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
{% if traefik_docker_api_version is defined %}
    environment:
      - DOCKER_API_VERSION={{ traefik_docker_api_version }}
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ traefik_install_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
      - {{ traefik_install_dir }}/acme:/etc/traefik/acme:rw
      - {{ traefik_install_dir }}/dynamic:/etc/traefik/dynamic:ro
    networks:
      - {{ traefik_network_name }}

{% if traefik_sablier_enabled | default(false) %}
  sablier:
    image: "{{ traefik_sablier_image | default('sablierapp/sablier:latest') }}"
    container_name: sablier
    restart: unless-stopped
    command:
      - start
      - --provider.name=docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{ traefik_network_name }}
{% endif %}

{% if traefik_deploy_whoami | default(true) %}
  whoami:
    image: traefik/whoami:latest
    container_name: traefik-whoami
    restart: unless-stopped
    networks:
      - {{ traefik_network_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`{{ traefik_whoami_subdomain }}.{{ traefik_base_domain }}`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.tls.certresolver=myresolver"
      - "traefik.http.services.whoami.loadbalancer.server.port=80"
{% if traefik_sablier_enabled | default(false) and traefik_whoami_sablier_enabled | default(true) %}
      - "sablier.enable=true"
      - "sablier.group={{ traefik_whoami_sablier_group | default(traefik_whoami_subdomain) }}"
      - "traefik.docker.allownonrunning=true"
      - "traefik.http.middlewares.whoami-sablier.plugin.sablier.sablierUrl={{ traefik_sablier_url | default('http://sablier:10000') }}"
      - "traefik.http.middlewares.whoami-sablier.plugin.sablier.group={{ traefik_whoami_sablier_group | default(traefik_whoami_subdomain) }}"
      - "traefik.http.middlewares.whoami-sablier.plugin.sablier.sessionDuration={{ traefik_whoami_sablier_session_duration | default(traefik_sablier_default_session_duration | default('5m')) }}"
      - "traefik.http.middlewares.whoami-sablier.plugin.sablier.dynamic.displayName={{ traefik_whoami_sablier_display_name | default('Whoami Service') }}"
      - "traefik.http.middlewares.whoami-sablier.plugin.sablier.dynamic.theme={{ traefik_whoami_sablier_theme | default(traefik_sablier_default_theme | default('hacker-terminal')) }}"
      - "traefik.http.routers.whoami.middlewares=whoami-sablier"
{% endif %}
{% endif %}

networks:
  {{ traefik_network_name }}:
    external: true
